body {
  font-family: poppins;
  box-sizing: border-box;
}

.navbar {
  background-color: #aaedf7;
  padding: 1rem 2rem 0.2rem;
  align-items: center;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  height: 40px;
  text-align: start;
}

.nav-logo {
  font-size: 1.2rem;
  color: rgb(41, 38, 38);
  margin: 0;
}

.nav-logo a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: rgb(54, 54, 54);
}

.nav-menu a:hover,
.nav-menu a:active {
  color: rgb(0, 0, 0);
}
